.card {
  background-color: $bg-white;
  position: relative;
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #360c37;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.card-form {
  background-color: $bg-white;
  border: 2px solid $bg-light;
  flex-wrap: wrap;
  padding: 20px;
  text-align: left;
}
