.invoices {
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  &__title {
    color: $text-purple;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 40px 0;
  }

  &-actions {
    background-color: $bg-white;
    border-radius: 10px;
    padding: 20px;

    &__text {
      color: $text-purple-dark;
      font-size: 1.8rem;
    }
  }

  &-lists {
    background-color: $bg-white#fff;
    margin-top: 40px;
    padding: 20px;

    &__title {
      color: $text-purple-dark;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    &__col {
      padding: 15px 0;
    }

    &__desc {
      color: $text-purple;
      font-size: 1.6rem;
    }

    &__table {
      background-color: $bg-white;
      border-top: 1px solid $bg-purple-light;
      overflow: hidden;
      padding: 0;
      width: 100%;

      &-col {
        display: flex;
        width: 100%;

        .col:nth-child(1) {
          padding: 15px 0;
        }

        .col:nth-child(2),
        .col:nth-child(3),
        .col:nth-child(4) {
          padding: 15px 20px;
        }
      }
    }
  }
}

