$main-font: 'Lato', sans-serif;

// Text Colors
$text-purple: #360c37;
$text-purple-dark: #251125;
// Bg colors
$bg-white: #fff;
$bg-light: #e5d0f5;
$bg-purple-light: #b479d5;

$html-font-size: 10px;
$body-font-color: $text-purple;
$body-font: $main-font;
$body-fz: 1rem;
$body-fw: 400;
$body-lh: 1;

// Grid
$container-width: 1200px;
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xl: 1199px,
  lg: 991px,
  md: 767px,
  sm: 575px,
);

$container-max-width: (
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 100%,
);

$displays: none, inline-block, block, flex;

// Buttons
$btn-ff: $main-font;

